:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#cocktaillist {
  display: flex;
flex-direction: column;
align-items: flex-start;

}

input[type="text" i] {
  width: 20em;
  height: 2em;
  font-size: larger;
  display: flex;

}

li {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin: 2px;
    background-color: white;
    color: hsl(0, 0%, 25%);

}


img {
  width: 10em;
}

#favBtn {
  width: 12em;
}